/* src/components/Game/Chat.css */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 575px;
  width: 250px;
  margin: 0 auto;
  border: 2px solid #b8a3e9;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 3px
}

.messages {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

.message {
  margin-bottom: 5px;
  font-size: 14px;
}

.chatForm {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input {
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  border: none;
}

.chatButton {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #bbb;
}
