/* src/components/Game/Game.css */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

.game {
  display: flex;
  width: 100vw;
  font-family: "Outfit", sans-serif;
  overflow: hidden;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center center;
}

.time-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 20px;
}

.chat-box {
  flex: 1;
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.players-grid {
  flex: 0 0 40%;
  padding: 1rem;
  overflow: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2rem;
  height: 88vh;
}

.leave-icon {
  position: absolute;
  top: 25px;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
  color: black;
}

.timer-grid {
  width: -webkit-fill-available;
}

.game button {
  width: 45px;
  height: 30px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.vote-button {
  margin-top: 8px;
}

.chat-game {
  margin-top: 35px;
  margin-right: 15px;
}
