/* src/components/Register/Register.css */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("bg-3.jpg");
  background-size: cover;
  background-position: center center;
}

h1 {
  font-size: 8vh;
  font-family: "Outfit", sans-serif;
  color: #ffffff;
  margin-bottom: 4vh;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 41px;
    border: none;
    width: 300px;
    height: 5px;
    font-size: 20px;
    color: #595383;
    background: rgba(255, 255, 255, 0.5);
    font-family: "Outfit", sans-serif;
  }

  .button-group-2 {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-bottom: 20vh;
  }
  
  .signup-btn-2 {
    padding: 20px;
    border-radius: 86px;
    font-size: 20px;
    width: 270px;
    height: 3px;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    background-color: #d1b38d;
    color: #FDF0DE;
  }
