@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-image: url("bg-5.png");
  background-size: cover;
  background-position: center center;
}

.inside-lobby {
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  align-items: center;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  font-family: "Outfit", sans-serif;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #b8a3e9;
  font-family: "Outfit", sans-serif;
}

.user-info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.user-icon {
  font-size: 32px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.user-info-popup {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 70px;
  right: 20px;
  padding: 10px;
  font-size: 18px;
  z-index: 1;
  width: 200px;
  text-align: center;
}

.logout-icon {
  font-size: 32px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.button-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 120px;
}

.quick-play,
.instruction-button {
  width: 140px;
  height: 50px;
  background-color: #b8a3e9;
  color: white;
  border: none;
  border-radius: 81px;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.create-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.create-game-button {
  width: 140px;
  height: 50px;
  color: white;
  border: 2px solid #b8a3e9;
  border-radius: 81px;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background: none;
  margin-top: 10px; /* Added margin-top */
}

.create-game-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  z-index: 1;
  width: 220px;
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.create-game-input {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #b8a3e9;
  width: 100%;
  text-align: center;
  height: 30px;
  margin: 0 auto; /* Add margin auto to center horizontally */
}

.create-button {
  margin-top: 15px;
  width: 140px;
  height: 40px;
  color: white;
  border: 2px solid #b8a3e9;
  border-radius: 81px;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background: none;
}

.room-list-container {
  flex-grow: 1;
  height: 200px;
  justify-content: center;
  position: relative; /* Add position relative */
}

.room-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center; /* Center the text horizontally */
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.room-list li {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.room-list li:last-child {
  margin-bottom: 0;
}

.room-list li:hover {
  background-color: #ffc299;
}

.instruction-button:hover,
.quick-play:hover {
  background-color: #8f6aff;
}

.create-game-button:hover {
  background-color: #b8a3e9;
  color: white;
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .user-icon {
    font-size: 28px;
  }

  .logout-icon {
    font-size: 28px;
  }

  .button-container {
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .quick-play,
  .instruction-button,
  .create-game-button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .create-game-popup {
    width: 180px;
  }

  .create-game-popup input {
    width: 100%;
  }

  .create-game-container {
    width: 100%;
    justify-content: center;
  }
}
